<% include header.ejs %>
 
	        <!-- page content -->
	        <div class="right_col" role="main" style="min-height: 368px;">

						<button type="button" name="button"><a href="/addprod">addprod</a></button>
						<button type="button" name="button"><a href="/editprog">editprog</a></button>
						<button type="button" name="button"><a href="/addprog">addprog</a></button>
						<button type="button" name="button"><a href="/listprod">listprod</a></button>
						<button type="button" name="button"><a href="/stockin">stockin</a></button>
						<button type="button" name="button"><a href="/adddepot">adddepot</a></button>

						<button type="button" name="button"><a href="/listinout">listinout</a></button>
						<button type="button" name="button"><a href="/productstock">gallerie produits</a></button>
						<button type="button" name="button"><a href="/gallery">gallery</a></button>
						<button type="button" name="button"><a href="/stockinbk">Stockin bk</a></button>
						<button type="button" name="button"><a href="/addinventory">add inventory</a></button>
							<button type="button" name="button"><a href="/detailinventory">detail inventory</a></button>

  <input type="checkbox" class="js-switch" value="true" id="extra" name="extra">
	<div class="checkbox">
		<label class="">
			<div class="icheckbox_flat-green checked" style="position: relative;"><input type="checkbox" class="flat" checked="checked" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Checked
		</label>
	</div>


						<% include toptitles.ejs %>

	        </div>
	        <!-- /page content -->


					<% include footer.ejs %>
